*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primay-color: #ffffff;
    --bg-section: #f6f6f6;
    --bg-footer: #23272A;
    --dark-text: #000000;
    --bg-header: #2A5EE8;
    --light-bg: #7289DA;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.body {
    background-color: var(--primay-color);
    font-family: 'Livvic', sans-serif;
    
    font-family: 'Noto Sans', sans-serif;
}
.debug {
    border: 1px solid black;
}


.nav-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start;   
}

ul {
    list-style: none;

}

.align-center {
    align-items: center;
}

.button {
    padding: 9px 15px;
    background-color: var(--primay-color);
    color: black;
    border: none;
    border-radius: 15px;
}

.nav-items li a {
    color: var(--primay-color);
    align-items: center;
    padding: 0px 30px;
    text-decoration: none;
}
.nav-items li a:hover {
    color:#2A5EE8;
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

.even{
    background-color: var(--bg-section);
}

header {
    background-color: var(--bg-header);
    
}


footer {
    background-color: var(--bg-footer);
    color: var(--primay-color);
}